html {
	scroll-behavior: smooth;
	margin: 0;
}

body {
	text-align: center;
	margin: 0;
	padding: 0;
	background-color: yellow;
}
h1{
	font-size: 30px;
}
h2{
	font-size: 25px;
}
.navbar{
	flex-wrap: nowrap;
	box-shadow: 10px 10px 10px #cc0;
}
#link-topo{
	text-decoration: none;
	color: white;
	background-color: blue;
	height: 70px;
	width: 70px;
	padding-bottom: auto;
	position: fixed;
	right: 5vw;
	bottom: 5vh;
	box-shadow: 3px 3px 10px #333;
	border-radius: 100%;
	font-size: 40px;
}

/*.container {
	display: flex;
	text-decoration: none;
	position: fixed;
	top: 0vh;
	background-color: blue;
	width: 100%;
	color: white;
}
*/
.nav-item{
	font-size: 75%;
	border-radius: 5vh;
	color: white;
}

.nav-item:hover{
	background-color: #cc0;
	transition: 0.5s;
}

#nossa-equipe img{
	margin-bottom: 20px;
	border-radius: 100%;
	height: 200px;
	width: 200px;
	object-fit: cover;
	box-shadow: 3px 3px 10px #333;
}
#nossa-equipe{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.aluno {
	max-width: 300px;
	align-items: center;
	border: 3px solid rgba(0, 0, 255, .5);
	border-radius: 2vh;
	margin: 10px;
	padding: 5px;
}

.aluno h3 {
	min-height: 70px;
}

.referencias{
	text-align: left;
	justify-content: left;
	text-decoration: none;
	color: #333;
}
#icone-logo {
	width: 70px;
}

#icone-logo img {
	object-fit: cover;
	height: 70px;
	width: 70px;
	margin-right: 20px;
}

.content {
	padding-right: 5vw;
	padding-left: 5vw;
	margin-bottom: 50px;
}

.content p{
	text-align: justify;
}

.content ul{
	text-align: left;
}

#logo-grande{
	width: 300px;
	height: 300px;
	object-fit: cover;
}

.logo-info ul, li, p{
	text-align: left;
	justify-content: left;
	text-decoration: none;
}

/*#quem-somos {
	margin-top: 120px;
}*/
